<div class="container">
  <div class="jumbotron">
    <h2 class="display-3">Добро пожаловать</h2>
    <p class="lead">Компания CryptoBoom проводит конкурс,учавствуй в конкурсе и получи гарантированно 0.1BTC!</p>
    <hr class="my-4">
    <p>Чтобы ознакомиться принять участие и ознакомиться с условиями конкурса нажмите на кнопку ниже.</p>
    <p class="lead">
      <%= link_to "Принять участие", offer_path,class: "btn btn-primary btn-lg" %>
    </p>
  </div>
</div>
