<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
     <p>
       Приводи друзей в наше сообщество,чем больше людей приведешь тем больше шанс что ты получишь приз!
       <br>
       Для того что бы принять участие в конкурсе выполните следующие шаги:
     </p>
      <ol>
        <li>Подписаться на наш Telegram,Twitter,Instagram.</li>
        <li>Зарегестрироваться</li>
        <li>Войди в свой личный кабинет и укажи тех кого ты пригласил к нам.(Подробнее)</li>
      </ol>
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <%= link_to "Зарегестрироваться", new_user_registration_path, class: "btn btn-success" %>
        </div>
      </div>
    </div>
  </div>
  
</div>